.background-white {
	-fx-background-color: #FFF;
}

.text-see {
	-fx-font-size: 22px;
	-fx-font-weight:bold;
}
.text-see-smaller {
	-fx-font-size: 16px;
	-fx-font-weight:bold;
}
.text-pane1 {
	-fx-font-size:30px;
}

.border-set {
	-fx-border-color:#FFF;
}

.buttonMy {
	-fx-text-fill: #006464;   
	-fx-background-color: #FFFF6F;
    -fx-border-radius: 20;  
    -fx-background-radius: 0;  
    -fx-padding: 0; 
    -fx-cursor:hand;
}
.buttonMy:hover {
	-fx-text-fill: ff8b66;  
}

.bottonHand:hover{
	-fx-cursor:hand;
	-fx-text-fill: ff8b66; 
}

.test-center {
	-fx-alignment: CENTER;
}

.text-left {
	-fx-text-align: left;
}

.text-red {
	-fx-text-fill:#ff8b66;
}

.text-green {
	-fx-text-fill:green;
}
