.background-white {
	-fx-background-color: #FFF;
}

.text-see {
	-fx-font-size: 22px;
	-fx-font-weight:bold;
}

.text-pane1 {
	-fx-font-size:30px;
}

.border-set {
	-fx-border-color:#FFF;
}

.buttonMy {
	-fx-text-fill: #006464;   
	-fx-background-color: #FFFF6F;
    -fx-border-radius: 20;  
    -fx-background-radius: 0;  
    -fx-padding: 0; 
    -fx-cursor:hand;
}
.buttonMy:hover {
	-fx-text-fill: red;  
}

.bottonHand:hover{
	-fx-cursor:hand;
	-fx-text-fill: red; 
}

.test-center {
	-fx-alignment: CENTER;
}